.main {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  height: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 50px;
  box-shadow: 1px 1px 5px 5px #c0bdbd;
  color: #ec8f25;
  background: url(../images/bgc.jpg) no-repeat;
  background-size: 100% 100%;
}
.main > div {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 20px;
  height: 300px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
}
.main > div h1 {
  font-family: "宋体";
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.main > div div {
  text-align: center;
  height: 30px;
}
